/* @BOTONES */
/* ********** */

// Botón standard <a>
.contenedor {
    &__btn{
        padding: 1rem;
        font-family: $fontFamily;
        font-size: $fontSize;
        padding: 0.9375rem;
        border-radius: 20px;
        color: map-get($colores, colorLetra);
        background-color: map-get($colores, colorBtn);
    }
}
